## üõ†Ô∏è **ETL (Extract, Transform, Load)**

#### **üìÇProcesamiento del 1er archivo: `Google Maps/metadata-sitios/review-hawaii-`**

####  **Importamos las librer√≠as que vamos a usar**

In [1]:
import pandas as pd
import os
import gc
import data_utils   
from data_utils import data_type_check

# Reviews Hawaii

#### üì¶ **Extraccion** de los datos y primera exploraci√≥n

üåü Primero, vamos a convertir los datos de las rese√±as de Google Maps del estado de Hawaii, distribuidos en 11 archivos JSON

In [2]:
# Se especifica la ruta que contiene la carpeta con los archivos:
carpeta = "../0_Dataset/review-Hawaii"

# Se crea lista vac√≠a donde se almacenar√°n los dataframes de cada archivo:
reviews = []

# Se recorre por todos los archivos en la carpeta:
for filename in os.listdir(carpeta):
    if filename.endswith('.json'):
        # Se carga el archivo JSON en un DataFrame de Pandas:
        filepath = os.path.join(carpeta, filename)
        df = pd.read_json(filepath, lines = True)
        
        # Se agrega el DataFrame a la lista:
        reviews.append(df)

# Se combinan todos los DataFrames en uno solo usando pd.concat:
df_rev_hawai = pd.concat(reviews, ignore_index=True)

# Se chequean 2 valores:
df_rev_hawai.sample(2)

,user_id,name,time,rating,text,pics,resp,gmap_id
1281747,1.095291e+20,Christopher Salas,1522200055210,4,None,None,None,0x7c006d9195964311:0x720889bdbbb0706d
500341,1.037525e+20,Paul Devich,1604988848336,5,Got a ultimate car wash,None,"{'time': 1620353852050, 'text': 'MAHALO for us...",0x79540e567a7fe245:0x8892f29c46794f43

#### Usando la funcion personalizada `data_type_check` invocada desde `data_utils.py` podemos observar:
- Variables categ√≥ricas
- Variables num√©ricas
- Dimensiones del dataframe
- Nulos
- Tipos de datos
- Informacion acerca de los datos faltantes o nulos de cada columna

In [3]:
data_type_check(df_rev_hawai)

========================================
 Resumen del dataframe:

========================================
Dimensiones:  (1504347, 8)
   columna  %_no_nulos  %_nulos  total_nulos tipo_dato
0  user_id      100.00     0.00            0   float64
1     name      100.00     0.00            0    object
2     time      100.00     0.00            0     int64
3   rating      100.00     0.00            0     int64
4     text       56.68    43.32       651751    object
5     pics        8.82    91.18      1371645    object
6     resp        7.23    92.77      1395548    object
7  gmap_id      100.00     0.00            0    object

#### **üì§ LOAD**

In [4]:
df_rev_hawai_muestra = df_rev_hawai.sample(frac=0.50, random_state=1) 
df_rev_hawai_muestra.shape

(60174, 8)

In [5]:
# Divido el parquet en 2 muestras 
#df_rev_hawai_muestra = df_rev_hawai[:int(len(df_rev_hawai)/2)]

In [6]:
# Se exporta el archivo en formato parquet:
df_rev_hawai_muestra.to_parquet("../0_Dataset/Google_rev_hawaii_muestra.parquet", engine="pyarrow")

In [7]:
# Quizas borrar

# Se buscan los valores √∫nicos en gmap_id:
# df_rev_hawai_muestra = df_rev_hawai_muestra.dropna(subset="gmap_id")
# id_unicos = df_rev_hawai_muestra["gmap_id"].unique()
# id_unicos

# Metadata-sitios

üåü La "metadata" incluye la informaci√≥n de diversos establecimientos en Google Maps.

üìÇ Esta informaci√≥n est√° dividida en 11 archivos JSON, organizados en 3 carpetas para facilitar el procesamiento y almacenamiento.

In [8]:
# Se especifica la ruta que contiene la carpeta con los archivos:
carpeta = "../0_Dataset/metadata-sitios"

# Se crea lista vac√≠a donde se almacenar√°n los dataframes de cada archivo:
metadata = []

# Se recorre por todos los archivos en la carpeta:
for filename in os.listdir(carpeta):
    if filename.endswith('.json'):
        # Se carga el archivo JSON en un DataFrame de Pandas:
        filepath = os.path.join(carpeta, filename)
        df1 = pd.read_json(filepath, lines = True)
        
        # Se agrega el DataFrame a la lista:
        metadata.append(df1)

# Se combinan todos los DataFrames en uno solo usando pd.concat:
df_md_hawaii = pd.concat(metadata, ignore_index=True)

# Se chequean 2 valores:
df_md_hawaii.sample(2)

:

#### Usando la funcion personalizada `data_type_check` invocada desde `data_utils.py` podemos observar:
- Variables categ√≥ricas
- Variables num√©ricas
- Dimensiones del dataframe
- Nulos
- Tipos de datos
- Informacion acerca de los datos faltantes o nulos de cada columna

In [ ]:
data_type_check(df_md_hawaii)

========================================
 Resumen del dataframe:

========================================
Dimensiones:  (2475009, 15)
             columna  %_no_nulos  %_nulos  total_nulos tipo_dato
0               name      100.00     0.00           33    object
1            address       97.19     2.81        69648    object
2            gmap_id      100.00     0.00            0    object
3        description        7.53    92.47      2288605    object
4           latitude      100.00     0.00            0   float64
5          longitude      100.00     0.00            0   float64
6           category       99.39     0.61        15163    object
7         avg_rating      100.00     0.00            0   float64
8     num_of_reviews      100.00     0.00            0     int64
9              price        8.12    91.88      2273984    object
10             hours       73.19    26.81       663517    object
11              MISC       76.15    23.85       590243    object
12             state       74.56    25.44       629696    object
13  relative_results       89.88    10.12       250397    object
14               url      100.00     0.00            0    object

#### **üîÑ TRANSFORM**

- Limpieza pendiente, es posible que lo hagamos en la nube y ya.
- Falta duplicados
- tipos de datos
- valores faltantes
- nulos
- duplicados
- metadatos/dicc datos
- outliers
- distribuci√≥n

#### **üì§ LOAD**

In [ ]:
df_md_hawaii_muestra = df_md_hawaii.sample(frac=0.30, random_state=1) 
df_md_hawaii_muestra.shape

In [ ]:
# Divido el parquet en 2 muestras para poder subirlo a github y mostralo al equipo
# df_md_hawaii_muestra = df_md_hawaii[:int(len(df_md_hawaii)/10)]

In [ ]:
# Se exporta el archivo en formato parquet:
df_md_hawaii_muestra.to_parquet("../0_Dataset/Google_metadata_california_muestra.parquet", engine="pyarrow")

gc.collect()

 Posibles soluciones: Exportar multiples parquet de metadata y unirlos luego