In [47]:
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
df_reviews = pd.read_parquet('../0 Dataset/reviews_california_muestra.parquet')

In [49]:
df_reviews.head(10)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.139654e+20,manuel grimaldo,1591839903487,5,Great new upgrade,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
1,1.166558e+20,Enrique Lara,1568059018979,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
2,1.008341e+20,Gregory Donaldson,1594885588335,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
3,1.032072e+20,Brian Baker,1575951131613,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
4,1.085262e+20,Kam J,1573076723916,3,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
5,1.036319e+20,ethan boam,1563228631646,1,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
6,1.107040e+20,MONOLITH TV,1574400673666,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
7,1.089906e+20,Josh Snow,1577824834047,1,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
8,1.118952e+20,Glorianna Castillo,1562189516147,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e
9,1.161259e+20,1 23456,1569692682556,5,None,None,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e

In [50]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752173 entries, 0 to 752172
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  752173 non-null  float64
 1   name     752173 non-null  object
 2   time     752173 non-null  int64
 3   rating   752173 non-null  int64
 4   text     430070 non-null  object
 5   pics     64825 non-null   object
 6   resp     53300 non-null   object
 7   gmap_id  752173 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 45.9+ MB

In [51]:
#eliminacion de la columna pics y resp
df_reviews = df_reviews.drop(columns=["pics", "resp"])

In [52]:
df_reviews.duplicated().sum()

6579

In [53]:
df_reviews = df_reviews.drop_duplicates()
df_reviews.shape

(745594, 6)

In [54]:
df_reviews.isna().sum()

user_id         0
name            0
time            0
rating          0
text       321909
gmap_id         0
dtype: int64

In [55]:
df_reviews["rating"] = df_reviews['rating'].astype(int)

In [56]:
#creo una funcion para asignar posteriormente un texto ya que hay muchos registros nulos en esta columna
def assign_scale(rating):
    if rating <= 1:
        return "Very Dissatisfied"
    elif rating <= 2:
        return "Dissatisfied"
    elif rating <= 3:
        return "Neutral"
    elif rating <= 4:
        return "Satisfied"
    else:
        return "Very Satisfied"

In [57]:
df_reviews["satisfaction_scale"] = df_reviews["rating"].apply(assign_scale)
df_reviews.head()

,user_id,name,time,rating,text,gmap_id,satisfaction_scale
0,1.139654e+20,manuel grimaldo,1591839903487,5,Great new upgrade,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied
1,1.166558e+20,Enrique Lara,1568059018979,5,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied
2,1.008341e+20,Gregory Donaldson,1594885588335,5,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied
3,1.032072e+20,Brian Baker,1575951131613,5,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied
4,1.085262e+20,Kam J,1573076723916,3,None,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Neutral

In [58]:
df_reviews["text"] = df_reviews["text"].fillna(df_reviews["satisfaction_scale"])

In [59]:
df_reviews.isnull().sum()

user_id               0
name                  0
time                  0
rating                0
text                  0
gmap_id               0
satisfaction_scale    0
dtype: int64

In [60]:
df_reviews['time'] = pd.to_datetime(df_reviews['time'], unit='ms')
df_reviews['date'] = df_reviews['time'].dt.date
df_reviews['time'] = df_reviews['time'].dt.time
df_reviews.head()

,user_id,name,time,rating,text,gmap_id,satisfaction_scale,date
0,1.139654e+20,manuel grimaldo,01:45:03.487000,5,Great new upgrade,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied,2020-06-11
1,1.166558e+20,Enrique Lara,19:56:58.979000,5,Very Satisfied,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied,2019-09-09
2,1.008341e+20,Gregory Donaldson,07:46:28.335000,5,Very Satisfied,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied,2020-07-16
3,1.032072e+20,Brian Baker,04:12:11.613000,5,Very Satisfied,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Very Satisfied,2019-12-10
4,1.085262e+20,Kam J,21:45:23.916000,3,Neutral,0x7c00159b5b1b1d25:0x8d2d85d4a758290e,Neutral,2019-11-06